* {
    box-sizing: border-box;
}

.body {
    background-color: hsl(212, 45%, 89%); /*light gray*/
    font-family: Outfit, sans-serif;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.component {
    background-color: hsl(0, 0%, 100%); /*white*/
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px hsl(0, 0%, 0%, 4.77%);
    height: 497px;
    margin: auto;
    padding: 16px 0;
    width: 320px;
}

.image {
    border-radius: 20px;
    display: block;
    height: 288px;
    margin: auto;
    width: 288px;
}

.copywrite {
    padding: 0 32px;
}

.heading {
    color: hsl(218, 44%, 22%); /*dark blue*/
    font-size: 22px;
    font-weight: 700;
    margin: 24px 0 16px;
}

.paragraph {
    color: hsl(220, 15%, 55%); /*grayish blue*/
    font-size: 15px;
    margin: 0;
}

.footer {
    bottom: 0;
    font-style: italic;
    position: fixed;
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}